<div class="search-section">
    <div class="sort">
        <label for="sortOrder" class="form-label">Ordenar:</label>
        <select id="sortOrder" class="form-select"
                hx-get="/Cocina/ObtenerPedidosEditados"
                hx-target="#zona-pedidos"
                name="sortOrder">
            <option value="reciente">Más reciente</option>
            <option value="antiguo">Más antiguo</option>
            <option value="mesa">Mesa</option>
        </select>
    </div>

    <div class="input-group" style="width: 300px;">
        <input type="text" name="searchQuery" class="form-control" placeholder="Buscar por # de pedido"
               hx-get="/Cocina/ObtenerPedidosEditados"
               hx-target="#zona-pedidos">
        <button class="btn btn-secondary" type="button" id="btnSearch">Buscar</button>
    </div>
</div>
