<div class="search-section">
    <div class="sort">
        <label for="sortOrder" class="form-label">Ordenar:</label>
        <select id="sortOrder" class="form-select">
            <option>Más reciente</option>
            <option>Más antiguo</option>
            <option>Mesa</option>
        </select>
    </div>

    <div class="input-group" style="width: 300px;">
        <input type="text" class="form-control" placeholder="Buscar por # de pedido">
        <button class="btn btn-secondary" type="button">Buscar</button>
    </div>
</div>
