<div class="nav-tabs">
    <div class="nav-tab active-tab">
        Panel de cocina
        <span class="badge bg-success rounded-circle" id="cocina-count">@ViewBag.CocinaCount</span>
    </div>
    <div class="nav-tab inactive-tab">
        Panel en línea
        <span class="badge bg-success rounded-circle" id="online-count">@ViewBag.OnlineCount</span>
    </div>
</div>
