@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        background-color: #fdfbef;
    }

    .logoGrande {
        max-height: 50vh;
    }

    .colorImagenFondo {
        background-color: #fdfbef;
    }
</style>

<div class="text-center">
    <div class="justify-content-center align-content-center colorImagenFondo">
        <img src="~/images/logoCompleto.png" alt="Logo" class="logoGrande" />
    </div>
</div>
